@model TTCD1_PVDA_2210900088_PJ2.Models.GiaoDich

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GiaoDich</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loai_giao_dich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loai_giao_dich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.so_tien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.so_tien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_giao_dich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_giao_dich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.ten_dang_nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.ten_dang_nhap)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
