@model TTCD1_PVDA_2210900088_PJ2.Models.MayTinh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MayTinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_may_tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_may_tinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trang_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vi_tri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vi_tri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_tao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_tao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_may_tinh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
