@model IEnumerable<TTCD1_PVDA_2210900088_PJ2.Models.MayTinh>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_may_tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trang_thai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vi_tri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_tao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_may_tinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trang_thai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vi_tri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_tao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_may_tinh }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_may_tinh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_may_tinh })
        </td>
    </tr>
}

</table>
