@model TTCD1_PVDA_2210900088_PJ2.Models.ChiTietPhienChoi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChiTietPhienChoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.thoi_gian_vao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoi_gian_vao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoi_gian_ra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoi_gian_ra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoi_luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoi_luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MayTinh.ten_may_tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MayTinh.ten_may_tinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhienChoi.trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhienChoi.trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_chi_tiet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
