@model IEnumerable<TTCD1_PVDA_2210900088_PJ2.Models.ChiTietPhienChoi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.thoi_gian_vao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoi_gian_ra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoi_luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MayTinh.ten_may_tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhienChoi.trang_thai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.thoi_gian_vao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thoi_gian_ra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thoi_luong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MayTinh.ten_may_tinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhienChoi.trang_thai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_chi_tiet }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_chi_tiet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_chi_tiet })
        </td>
    </tr>
}

</table>
