@model IEnumerable<TTCD1_PVDA_2210900088_PJ2.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_dang_nhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat_khau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vai_tro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ho_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dien_thoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_du)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_tao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_dang_nhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mat_khau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vai_tro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ho_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dien_thoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_du)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_tao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_nguoi_dung }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_nguoi_dung }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_nguoi_dung })
        </td>
    </tr>
}

</table>
